.main-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  min-height: 100vh;
  justify-content: flex-start;
}

.main-container .link {
  padding: 0.7rem 0rem;
  text-align: center;
}
